<div class="header-container-flex">
  <div class="logo">
    LOGO
  </div>
  <div class="current-user-informations"><i class="fa-solid fa-user"></i>&nbsp;Randrianarisoa Rova Fitiavana</div>
  <div class="current-user-informations">Solde réel : <span class="text-success fw-bolder">2,5</span></div>
  <div class="current-user-informations">Solde prévu : <span class="text-secondary fw-bolder">1,5</span></div>
  <div class="current-user-informations">Permission : <span class="text-light fw-bolder">0</span></div>
  <div class="current-user-informations"><i class="fa-solid fa-power-off" title="Deconnexion"></i></div>
</div>
