<div class="header-container-flex">
  <div class="current-user-informations"><fa-icon  [icon]="faUser"></fa-icon>&nbsp;Randrianarisoa Rova Fitiavana</div>
  <div class="current-user-informations">Solde réel : <span class="text-success fw-bolder">2,5</span></div>
  <div class="current-user-informations">Solde prévu : <span class="text-info fw-bolder">1,5</span></div>
  <div class="current-user-informations">Permission : <span class="text-light fw-bolder">0</span></div>
  <div class="current-user-informations"><fa-icon [icon]="faPowerOff" title="Déconnexion"></fa-icon></div>
</div>
