.header-container-flex {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: hsla(360, 70%, 69%, 0.88);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: end;
  }
.current-user-informations {
  width: auto;
  padding: 20px;
  color: #FFFFFF;
}
.logo {
  margin: 0px auto 0 20px;
  width: 300px;
}



