.content-main {
  padding: 5px 10px 0px 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container-head-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.header-item {
  font-weight: bolder;
  color: #FFFFFF;
}
